header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    line-height:50px;
    background-color:lightblue;
    vertical-align:middle;
    text-align:center;
    padding:0;
    z-index:4;
}

footer {
    position:fixed;
    bottom:0;
    left:0;
    line-height:50px;
    width:100%;
    background-color:lightblue;
    text-align:center;
    padding:0;
    z-index:1;
}

left {
    overflow-x:auto;
    overflow-y:auto;
    position:fixed;
    left:0;
    right:50%;
    top:50px; 
    bottom:50px; 
    padding:0;
    z-index:2;
}

right {
    overflow:auto;
    position:fixed;
    left:50%;
    width:50%;
    top:50px; 
    bottom:50px; 
    padding:0;
    z-index:2;
}

.button {
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background: yellow;
}
